.sidebar {
    position: relative;
    overflow: auto;
    height: 500px;
    top: 100px;
    bottom: 0;
    border-radius: 10px;
}


.switch {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 50px;
}