.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color:white;
}

.dialog .active {
    color: gold;
    background-color: blue;
}

.messages {
    padding: 10px;
}

.messages .message {
    color:white;
}
